body {
  background-color: #8aacff;
}

.App-header {
  text-align: center;
  font-size: 42px;
  color: white;
}

.Dictionary {
  margin: 30px 0;
  text-align: center;
}

.App {
  background-color: #8aacff;
}

.App-footer {
  text-align: center;
  margin: 30px 0;
  color: white;
}
